/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}

.item, .item a {
    color: black;
    text-decoration: none;
}

.item.item-uncommon, .item.item-uncommon a {
    color: green;
}

.item.item-rare, .item.item-rare a {
    font-weight: bold;
    color: blue;
}

.item.item-epic .item.item-epic a {
    font-weight: bold;
    color: blueviolet;
}